/* El Selectors */
* {
  text-align: center;
  margin: 0 auto;
  color:white;
  /* border: 1px solid white; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: -1px -1px 0 black, 1px 1px 0 black, -1px 1px black, 1px -1px black;
}
header {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
  background-image: url(/assets/Images/ERCastle.png);
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
  background-attachment: fixed;
  background-position: center;
}
button {
    cursor: pointer;
    background-color: rgb(80, 77, 77);
    border-radius: 10%;
}
/* Class Selectors */

/* ID Selectors */

/* Media Query */
